# Various
*~
\#*#
.\#*
.*cache
.DS_Store*
*.lock
*.swp
.*version
.idea/
.vscode/
ehthumbs.db
Icon?
Thumbs.db
.new*

# Build artifacts
_Dockerfile*
__pycache__/
*.egg*
.tox/
.venv*/
build/
dist/
root/
venv*/

pp*.yml
